{% extends "layouts/main.html" %}

{% block pageTitle %}
  Claim travel – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v1/funeral/check-answers-funeral" method="post">

        <h1 class="govuk-heading-l">
          Travel costs
        </h1>
        <p class="govuk-body">
          We can help pay for one return journey either to arrange, or go to, the funeral. We cannot help with the cost of hiring a funeral car to travel in.
        </p>
        <p class="govuk-body">
          We may need to see receipts for journeys in a taxi or on public transport.  
        </p>
  
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
  
            {{ govukRadios({
              name: "claimtravel",
              values: data["claimtravel"],
              fieldset: {
                legend: {
                  text: "Do you want us to help pay your travel costs?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
  
              items: [
                {
                  value: "yes",
                  text: "Yes",
                  hint: {
                    text: "We will contact you about your travel costs after the funeral."
                  }
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}
  
          {{ govukButton({
            text: "Continue"
          }) }}


      </form>

    </div>
  </div>

{% endblock %}
