{% extends "layouts/main.html" %}

{% block pageTitle %}
  Can we contact them if we need more information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if (data['funeraltakenplace'] == "yes") %}

      <form class="form" action="/v1/funeral/bill-in-your-name" method="post">

      {% else %}

      <form class="form" action="/v1/funeral/documents" method="post">

        {% endif %}
        
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "contactdirector",
            fieldset: {
              legend: {
                text: "Can we contact them if we need more information?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "We can process your application faster if we can contact them about the funeral details."
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
