{% extends "layouts/main.html" %}

{% block pageTitle %}
Did the funeral director give any of these documents – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/documents-answer-v1" method="post">

        {% if (data['director'] == "no") %}

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukRadios({
  name: "documents",
  values: data["documents"],
  fieldset: {
    legend: {
      text: "Did the organisation or person arranging the funeral give any of these documents?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select the most recent document from them."
  },
  items: [
    {
      value: "estimate",
      text: "Estimate of the funeral cost"
    },
    {
      value: "contract",
      text: "Signed contract",
      hint: {
        text: "This is a signed contract or agreement showing what the funeral will cost."
      }
    },
    {
      value: "bill",
      text: "Funeral bill",
      hint: {
        text: "This is a bill or invoice showing what the funeral cost."
      }
    },
    {
      divider: "or"
    },
    {
      value: "none",
      text: "None of these",
      hint: {
        text: "This could be because you have not contacted them yet, or someone else is dealing with them."
      },
      behaviour: "exclusive"
    }
  ]
}) }}

{% else %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukRadios({
  name: "documents",
  values: data["documents"],
  fieldset: {
  legend: {
  text: "Did the funeral director give any of these documents?",
  isPageHeading: true,
  classes: "govuk-fieldset__legend--l"
  }
  },
  hint: {
  text: "Select the most recent document from them."
  },
  items: [
  {
  value: "estimate",
  text: "Estimate of the funeral cost"
  },
  {
  value: "contract",
  text: "Signed contract",
  hint: {
  text: "This is a signed contract or agreement showing what the funeral will cost."
  }
  },
  {
  value: "bill",
  text: "Funeral bill",
  hint: {
  text: "This is a bill or invoice showing what the funeral cost."
  }
  },
  {
  divider: "or"
  },
  {
  value: "none",
  text: "None of these",
  hint: {
  text: "This could be because you have not contacted them yet, or someone else is dealing with them."
  },
  behaviour: "exclusive"
  }
  ]
  }) }}

        {% endif %}



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
