{% extends "layouts/main.html" %}

{% block pageTitle %}
  Other costs to pay – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v1/funeral/claim-travel" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {% set otherHtml %}
          {{ govukInput({
          id: "other-cost",
          name: "other-cost",
          type: "other-cost",
          spellcheck: false,
          classes: "govuk-input--width-20",
          label: {
            text: "Enter other cost"
          }
          }) }}
        {% endset -%}

        {{ govukCheckboxes({
          name: "whopaidfuneraldirector",
          values: data["whopaidfuneraldirector"],
          fieldset: {
            legend: {
              text: "What are the other costs that have been paid?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "flowers",
              text: "Flowers or wreath"
            },
            {
              value: "service-sheet",
              text: "Service sheet"
            },
            {
              value: "other",
              text: "Other",
              conditional: {
                html: otherHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
