{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you using an organisation or someone from the community to arrange the funeral – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/someoneelse-answer-v1" method="post">

        {% if (data['funeraltakenplace'] == "yes") %}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "someoneelse",
            values: data["someoneelse"],
            fieldset: {
              legend: {
                text: "Did you use an organisation or someone from the community to arrange the funeral?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
          hint: {
            text: "For example someone from a place of worship."
          },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No, I arranged it myself"
              }
            ]
          }) }}

        {% else %}
     
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "someoneelse",
            values: data["someoneelse"],
            fieldset: {
              legend: {
                text: "Are you using an organisation or someone from the community to arrange the funeral?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
          hint: {
            text: "For example someone from a place of worship."
          },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No, I'm arranging the funeral myself"
              }
            ]
          }) }}

          {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
