{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start claim – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v1/funeral/director" method="post">

      <h1 class="govuk-heading-l">
        We’re now going to ask about the funeral
      </h1>

        <p class="govuk-body">We’ll ask:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>who is arranging the funeral</li>
          <li>about the funeral bill</li>
          <li>about any other costs you've had to pay</li>
        </ul>

        <!-- <p>
          We ask these questions...
        </p> -->

        <div class="govuk-!-padding-bottom-4"></div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
