{% extends "layouts/main.html" %}

{% block pageTitle %}
  Bill in your name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/willbillbeinyourname-answer-v1" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "willbillbeinyourname",
            values: data["willbillbeinyourname"],
            fieldset: {
              legend: {
                text: "Will the funeral bill be in your name?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              },
              {
                divider: "or"
              },
              {
                value: "unsure",
                text: "I don't know",
                hint: {
                text: "We will need to contact you about this."
             }
           }
          ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
