{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v1/money/armed-forces" method="post">

        <h1 class="govuk-heading-l">If the funeral plan pays for any of the funeral</h1>
          <p>We cannot help with any costs that are fully covered by the plan.</p>
          <p>We may be able to help pay for necessary funeral or burial costs that are not included or fully covered by the plan.</p>
          <p>You can only get up to £120 for any additional funeral expenses.</p>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
