{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/v1/funeral/start" method="post" novalidate>

        <h1 class="govuk-heading-l">Check your answers about money</h1>

              <h2 class="govuk-heading-m">Money from the person who died</h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Who is taking responsibility for the financial affairs of the person who died?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['financialaffairs']
                    | replace("me", "Me")
                    | replace("solicitor", "A solicitor")
                    | replace("someone-else", "Someone else") }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
                  </dd>
                </div>

                {% if data['financialaffairs'] == "solicitor" or data['financialaffairs'] == "someone-else" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Full name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['fullNamePersonResponsible'] | capitalize }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Telephone number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    0712345678
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Address of {{ data['fullNamePersonResponsible'] | capitalize }}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    1 Kirk Street<br>
                    Manchester<br>
                    M1 3ET
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change</a>
                  </dd>
                </div>
                {% endif %}
                
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Did the person who died have any bank accounts?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['bankaccounts']
                    | replace("yes", "Yes")
                    | replace("no", "No")
                    | replace("unsure", "I don't know") }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change</a>
                  </dd>
                </div>
                {% if data['bankaccounts'] == "yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Do you know the exact amount of money they had in accounts on the day they died?
                    </dt>
                    {% if data['bank-accounts-amount'] == "yes" %}
                    <dd class="govuk-summary-list__value">
                      £{{ data['bank-accounts-amount-input'] }}
                    </dd>
                    {% else %}
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                    {% endif %}
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Was any of this money in a joint account?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['jointaccount']
                      | replace("all", "Yes, all of the money")
                      | replace("some", "Yes, some of the money")
                      | replace("no", "No")
                      | replace("unsure", "I don't know") }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
                    </dd>
                  </div>
                  {% if data['jointaccount'] == "some" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Do you know the exact amount of money they had in joint accounts?
                    </dt>
                    {% if (data['joint-account-amount'] == "yes") %}
                    <dd class="govuk-summary-list__value">
                      £{{ data['joint-account-amount-input'] }}
                    </dd>
                    {% else %}
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                    {% endif %}
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>
                  </div>
                  {% endif %}
                  {% if data['partnerjointaccount'] %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Are you the other joint account holder?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['partnerjointaccount']
                      | replace("yes", "Yes")
                      | replace("no", "No") }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>
                  </div>
                  {% endif %}
                {% endif %}

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Did the person who died have any ISAs?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['isas']
                    | replace("yes", "Yes")
                    | replace("no", "No")
                    | replace("unsure", "I don't know") }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change</a>
                  </dd>
                </div>
                {% if data['isas'] == "yes" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Do you know the exact amount of money they had in ISAs?
                  </dt>
                  {% if data['isas-amount'] == "yes" %}
                  <dd class="govuk-summary-list__value">
                    £{{ data['isas-amount-input'] }}
                  </dd>
                  {% else %}
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                  {% endif %}
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change</a>
                  </dd>
                </div>
                {% endif %}

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Did they have any cash in notes or coins?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['cash']
                    | replace("yes", "Yes")
                    | replace("no", "No")
                    | replace("unsure", "I don't know") }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change</a>
                  </dd>
                </div>
                {% if (data['cash'] == "yes") %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Do you know the exact amount of cash they had in notes or coins?
                  </dt>
                   {% if data['cash-amount'] == "yes" %}
                  <dd class="govuk-summary-list__value">
                    £{{ data['cash-amount-input'] }}
                  </dd>
                  {% else %}
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                  {% endif %}
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change</a>
                  </dd>
                </div>
                {% endif %}

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Did they have any life insurance policies, pensions or other plans that might help pay for the funeral?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['plansfilter']
                    | replace("yes", "Yes")
                    | replace("no", "No")
                    | replace("unsure", "I don't know") }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change</a>
                  </dd>
                </div>

                {% if data['plansfilter'] == "yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Were they part of a workplace pension scheme that gives a lump sum payment after death?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['pension']
                      | replace("yes", "Yes")
                      | replace("no", "No")
                      | replace("unsure", "I don't know") }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>
                  </div>
                  {% if data['pension'] == "yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Do you know the exact value of the pension scheme lump sum payment?
                    </dt>
                    {% if data['pension-amount'] == "yes" %}
                    <dd class="govuk-summary-list__value">
                      £{{ data['pension-amount-input'] }}
                    </dd>
                    {% else %}
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                    {% endif %}
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>
                  </div>
                  {% endif %}

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Did they have any life insurance policies?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['lifeinsurance']
                      | replace("yes", "Yes")
                      | replace("no", "No")
                      | replace("unsure", "I don't know") }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>
                  </div>
                  {% if data['lifeinsurance'] == "yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Do you know the exact value of any life insurance polices they were part of?
                    </dt>
                    {% if data['lifeinsurance-amount'] == "yes" %}
                    <dd class="govuk-summary-list__value">
                      £{{ data['lifeinsurance-amount-input'] }}
                    </dd>
                    {% else %}
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                    {% endif %}
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>
                  </div>
                  {% endif %}

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Did they have a pre-paid funeral plan?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['funeralplan']
                      | replace("yes", "Yes")
                      | replace("no", "No")
                      | replace("unsure", "I don't know") }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>
                  </div>
                  {% if data['funeralplan'] == "yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Is the funeral plan paying for any of the funeral?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['funeralplancover']
                      | replace("yes", "Yes")
                      | replace("no", "No")
                      | replace("unsure", "I don't know") }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>
                  </div>
                  {% endif %}
                  {% if data['funeralplancover'] == "no" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Is the funeral plan provider giving a refund?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['funeralplanrefund']
                      | replace("yes", "Yes")
                      | replace("no", "No")
                      | replace("unsure", "I don't know") }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>
                  </div>
                  {% endif %}
                  {% if data['funeralplanrefund'] == "yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Do you know the exact amount of money being refunded?
                    </dt>
                    {% if data['funeral-plan-refund-amount'] == "yes" %}
                    <dd class="govuk-summary-list__value">
                      £{{ data['funeral-plan-refund-amount-input'] }}
                    </dd>
                    {% else %}
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                    {% endif %}
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>
                  </div>
                  {% endif %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Did the person who died serve in the armed forces before 2006?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['armedforces']
                      | replace("yes", "Yes")
                      | replace("no", "No")
                      | replace("unsure", "I don't know") }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>
                  </div>
                  {% if (data['armedforces'] == "yes") %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Are you claiming a War Pension Funeral Grant for the person who died?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['warpension']
                      | replace("yes", "Yes")
                      | replace("no", "No")
                      | replace("unsure", "I don't know") }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>
                  </div>
                  {% endif %}
                  {% if data['warpension'] == "yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Do you know the exact value of the War Pension Funeral Grant?
                    </dt>
                    {% if data['war-pension-amount'] == "yes" %}
                    <dd class="govuk-summary-list__value">
                      £{{ data['war-pension-amount-input'] }}
                    </dd>
                    {% else %}
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                    {% endif %}
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>
                  </div>
                  {% endif %}
                {% endif %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Were they part of a burial society or club?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['burialclub']
                  | replace("yes", "Yes")
                  | replace("no", "No")
                  | replace("unsure", "I don't know") }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change</a>
                </dd>
              </div>
              {% if (data['burialclub'] == "yes") %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Do you know the exact amount of money the burial society or club will pay?
                </dt>
                {% if data['burial-club-amount'] == "yes" %}
                <dd class="govuk-summary-list__value">
                  £{{ data['burial-club-amount-input'] }}
                </dd>
                {% else %}
                <dd class="govuk-summary-list__value">
                  No
                </dd>
                {% endif %}
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change</a>
                </dd>
              </div>
              {% endif %}
                
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Did the person who died have any other money?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['othermoney']
                  | replace("yes", "Yes")
                  | replace("no", "No")
                  | replace("unsure", "I don't know") }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change</a>
                </dd>
              </div>
              {% if data['othermoney'] == "yes" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Do you know the exact amount of any other money they had?
                </dt>
                {% if data['other-money-amount'] == "yes" %}
                <dd class="govuk-summary-list__value">
                  £{{ data['other-money-amount-input'] }}
                </dd>
                {% else %}
                <dd class="govuk-summary-list__value">
                  No
                </dd>
                {% endif %}
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change</a>
                </dd>
              </div>
              {% endif %}
              </dl>

              <h2 class="govuk-heading-m">Releasing money</h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Did you need any extra death certificates to release money from the person who died?
                  </dt>
                  {% if data['death-certificates'] == "yes" %}
                  <dd class="govuk-summary-list__value">
                    {{ data['death-certificates-number'] }}
                  </dd>
                  {% else %}
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                  {% endif %}
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
                  </dd>
                </div>
                
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Has someone applied for probate, letters of administration or confirmation?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['permisson']
                    | replace("yes", "Yes")
                    | replace("no", "No")
                    | replace("unsure", "I don't know") }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change</a>
                  </dd>
                </div>
                {% if data['permisson'] == "no" or data['permisson'] == "unsure" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Is someone going to apply for probate, letters of administration or confirmation?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['permisson-future']
                    | replace("yes", "Yes")
                    | replace("no", "No")
                    | replace("unsure", "I don't know") }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change</a>
                  </dd>
                </div>
                {% endif %}
              </dl>

              {{ govukButton({
                text: "Continue"
              }) }}

            </div>
      </form>
    </div>

{% endblock %}
