{% extends "layouts/main.html" %}

{% block pageTitle %}
  Refund amount paid – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v1/money/armed-forces" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {% set amountHtml %}
          {{ govukInput({
            id: "funeral-plan-refund-amount-input",
            name: "funeral-plan-refund-amount-input",
            prefix: {
              text: "£"
            },
            classes: "govuk-input--width-5",
            label: {
              text: "Enter the exact amount in pounds"
            }
          }) }}
        {% endset -%}

        {{ govukRadios({
          name: "funeral-plan-refund-amount",
          fieldset: {
            legend: {
              text: "Do you know the exact amount of money being refunded?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: amountHtml
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
