{% extends "layouts/main.html" %}

{% block pageTitle %}
  Refund from funeral plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/funeralplanrefund-answer-v1" method="post">

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "funeralplanrefund",
            values: data["funeralplanrefund"],
            fieldset: {
              legend: {
                text: "Is the funeral plan provider giving a refund?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
          hint: {
            text: "For example some give a refund if they're not paying for any of the funeral."
          },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              },
              {
                divider: "or"
              },
              {
                value: "unsure",
                text: "I don't know",
                hint: {
                  text: "We will contact you if we need more information."
                }
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
