{% extends "layouts/main.html" %}

{% block pageTitle %}
  Has someone applied for probate, letters of administration or confirmation? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v1/money/check-answers-money" method="post">

          {% from "govuk/components/radios/macro.njk" import govukRadios %}
          {% from "govuk/components/details/macro.njk" import govukDetails %}

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
             <h1 class="govuk-fieldset__heading">
              Is someone going to apply for probate, letters of administration or confirmation?
             </h1>
          </legend>

          {{ govukDetails({
            summaryText: "What is probate, letters of administration or confirmation",
            text: "This is when someone applies to the courts to get the legal right to deal with the property, money and possessions of the person who died."
          }) }}

          {{ govukRadios({
            name: "permisson-future",
            values: data["permission-future"],
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              },
              {
                divider: "or"
              },
              {
                value: "unsure",
                text: "I don't know",
                hint: {
                  text: "We will contact you if we need more information."
                }
              }
            ]
          }) }}

          {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
