{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start claim – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v1/contact/bank-details" method="post">

      <h1 class="govuk-heading-l">
        We’re now going to ask for your bank and contact details
      </h1>

        <p>
          We do this so we can contact you and pay you if we need to.
        </p>

        <div class="govuk-!-padding-bottom-4"></div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
