{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Start page with step by step template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}

{% block beforeContent %}
  <div class="app-step-nav-header">
    <span class="app-step-nav-header__part-of">Part of</span>
    <a class="app-step-nav-header__title" href="#">
      What to do when someone dies: step by step
    </a>
  </div>
{% endblock %}

{% block content %}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Get help with funeral costs (Funeral Expenses Payment)</h1>
        <div>
          <a class="gem-c-skip-link govuk-skip-link" href="#guide-contents">Skip to contents of guide</a>
           <aside class="part-navigation-container" role="complementary">
              <nav class="govuk-list" aria-label="Pages in this guide" role="navigation" data-module="gem-track-click" data-gem-track-click-module-started="true">
                <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
                <ol class="govuk-list govuk-body-s">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
                     &#8212; How it works
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                     &#8212; <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="eligibility" data-track-options="{&quot;dimension29&quot;:&quot;What you'll get&quot;}" href="/v1/gov/eligibility">Eligibility</a>
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                     &#8212; <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="what-youll-get" data-track-options="{&quot;dimension29&quot;:&quot;What you'll get&quot;}" href="/v1/gov/what-youll-get">What you'll get</a>
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                     &#8212; <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="how-to-claim" data-track-options="{&quot;dimension29&quot;:&quot;How to claim&quot;}" href="/v1/gov/make-a-claim">Make a claim</a>
                  </li>
                </ol>
              </nav>
           </aside>
          </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h2 class="govuk-heading-l govuk-!-padding-top-4">How it works</h2>

        <p>You could get a Funeral Expenses Payment (also called a Funeral Payment) <a href="/v3/gov/eligibility">if you get certain benefits</a> and need help to pay for a funeral you’re arranging.</p>

        <div class="govuk-inset-text">
          This guide is also available <a href="/taliadau-angladd">in Welsh (Cymraeg)</a>
        </div>

        <h2 class="govuk-heading-m govuk-!-padding-top-2">If you live in Scotland</h2>

        <p>You can <a rel="external" href="https://www.mygov.scot/funeral-support-payment/">apply for a Funeral Support Payment</a>. It has replaced Funeral Expenses Payment in Scotland.</p>

        <h2 class="govuk-heading-m govuk-!-padding-top-2">If you receive money from the deceased’s estate</h2>

        <p>Your Funeral Expenses Payment will be deducted from any money you get from the deceased’s estate.</p>

        <p>The estate includes any money or property they had but not a house or personal things left to a widow, widower or surviving civil partner.</p>



        <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="/v3/gov/eligibility" rel="next"> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg> <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
              <span class="govuk-pagination__link-label">Eligibility</span></a>
          </div>
        </nav>

      </div>
      
      <div class="govuk-grid-column-one-third govuk-!-padding-top-4">
        <div class="app-step-nav-related app-step-nav-related--singular">
          <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Part of</span>
            <a href="#">
              What to do when somone dies: step by step
            </a>
          </h2>
        </div>
    
        <div data-module="appstepnav"id="step-by-step-navigation" class="app-step-nav govuk-!-display-none-print js-hidden" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
          <ol class="app-step-nav__steps">
            <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
              <div class="app-step-nav__header js-toggle-panel" data-position="1">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Register the death
                  </span>
                </h3>
              </div>
    
              <div class="app-step-nav__panel js-panel" id="step-panel-driving-lessons-and-practice-3">
    
                <ol class="app-step-nav__list " data-length="4">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="3.1" class="app-step-nav__link js-link" href="#">Arrange the funeral </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="3.2" class="app-step-nav__link js-link" href="#">Get help paying for the funeral </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="3.3" class="app-step-nav__link js-link" href="#">Get help pay for the child's funeral</a>
                  </li>
                </ol>
    
              </div>
    
            </li>
            <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
              <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Tell the government about the death
                  </span>
                </h3>
              </div>
    
              <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">
                <ol class="app-step-nav__list " data-length="1">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="2.1" class="app-step-nav__link js-link" href="#">Apply for your first provisional driving licence <span class="app-step-nav__context">£34 to £43</span></a>
                  </li>
                </ol>
    
              </div>
    
            </li>
    
            <li class="app-step-nav__step js-step app-step-nav__step--active" aria-current="step" id="check-you-re-allowed-to-drive">
              <div class="app-step-nav__header js-toggle-panel" data-position="1">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 3<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Arrange the funeral
                  </span>
                </h3>
              </div>
    
              <div class="app-step-nav__panel js-panel" id="step-panel-driving-lessons-and-practice-3">
    
                <ol class="app-step-nav__list " data-length="4">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="3.1" class="app-step-nav__link js-link" href="#">Arrange the funeral </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="3.2" class="app-step-nav__link js-link" href="#">Get help paying for the funeral </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="3.3" class="app-step-nav__link js-link" href="#">Get help pay for the child's funeral</a>
                  </li>
                </ol>
    
              </div>
    
            </li>
    
            <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
              <div class="app-step-nav__header js-toggle-panel" data-position="5">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 4<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Check if you can get bereavment benefits
                  </span>
                </h3>
              </div>
    
              <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-theory-test-5">
                <p class="app-step-nav__paragraph">You need a provisional driving licence to book your theory test.</p>
    
                <ol class="app-step-nav__list " data-length="5">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="5.1" class="app-step-nav__link js-link" href="#">Book your theory test <span class="app-step-nav__context">£23</span></a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="5.2" class="app-step-nav__link js-link" href="#">What to take to your test </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="5.3" class="app-step-nav__link js-link" href="#">Change your theory test appointment </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="5.4" class="app-step-nav__link js-link" href="#">Check your theory test appointment details </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="5.5" class="app-step-nav__link js-link" href="#">Cancel your theory test </a>
                  </li>
                </ol>
    
              </div>
    
            </li>
    
            <li class="app-step-nav__step js-step" id="prepare-for-your-theory-test">
              <div class="app-step-nav__header js-toggle-panel" data-position="4">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--logic">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        and
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Deal with your own benefits, pension and taxes
                  </span>
                </h3>
              </div>
    
              <div class="app-step-nav__panel js-panel" id="step-panel-prepare-for-your-theory-test-4">
                <ol class="app-step-nav__list " data-length="3">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="4.1" class="app-step-nav__link js-link" href="#">Theory test revision and practice </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="4.2" class="app-step-nav__link js-link" href="#">Take a practice theory test </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a rel="external" data-position="4.3" class="app-step-nav__link js-link" href="#">Theory and hazard perception test app </a>
                  </li>
                </ol>
              </div>
    
            </li>
    
            <li class="app-step-nav__step js-step" id="prepare-for-your-theory-test">
              <div class="app-step-nav__header js-toggle-panel" data-position="4">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--logic">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        and
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Find bereavment support and services
                  </span>
                </h3>
              </div>
    
              <div class="app-step-nav__panel js-panel" id="step-panel-prepare-for-your-theory-test-4">
                <ol class="app-step-nav__list " data-length="3">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="4.1" class="app-step-nav__link js-link" href="#">Theory test revision and practice </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="4.2" class="app-step-nav__link js-link" href="#">Take a practice theory test </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a rel="external" data-position="4.3" class="app-step-nav__link js-link" href="#">Theory and hazard perception test app </a>
                  </li>
                </ol>
              </div>
    
            </li>
    
            <li class="app-step-nav__step js-step" id="prepare-for-your-theory-test">
              <div class="app-step-nav__header js-toggle-panel" data-position="4">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--logic">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        and
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Check if you need to apply to stay in the UK
                  </span>
                </h3>
              </div>
    
              <div class="app-step-nav__panel js-panel" id="step-panel-prepare-for-your-theory-test-4">
                <ol class="app-step-nav__list " data-length="3">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="4.1" class="app-step-nav__link js-link" href="#">Theory test revision and practice </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="4.2" class="app-step-nav__link js-link" href="#">Take a practice theory test </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a rel="external" data-position="4.3" class="app-step-nav__link js-link" href="#">Theory and hazard perception test app </a>
                  </li>
                </ol>
              </div>
    
            </li>
    
    
            <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
              <div class="app-step-nav__header js-toggle-panel" data-position="5">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 5<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Value the estate and check if you need to pay Inheritance Tax
                  </span>
                </h3>
              </div>
    
              <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-theory-test-5">
                <p class="app-step-nav__paragraph">You need a provisional driving licence to book your theory test.</p>
    
                <ol class="app-step-nav__list " data-length="5">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="5.1" class="app-step-nav__link js-link" href="#">Book your theory test <span class="app-step-nav__context">£23</span></a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="5.2" class="app-step-nav__link js-link" href="#">What to take to your test </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="5.3" class="app-step-nav__link js-link" href="#">Change your theory test appointment </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="5.4" class="app-step-nav__link js-link" href="#">Check your theory test appointment details </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="5.5" class="app-step-nav__link js-link" href="#">Cancel your theory test </a>
                  </li>
                </ol>
    
              </div>
    
            </li>
            <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test">
              <div class="app-step-nav__header js-toggle-panel" data-position="6">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 6<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Apply for probate
                  </span>
                </h3>
              </div>
    
              <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-driving-test-6">
                <p class="app-step-nav__paragraph">You must pass your theory test before you can book your driving test.</p>
    
                <ol class="app-step-nav__list " data-length="5">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="6.1" class="app-step-nav__link js-link" href="#">Book your driving test <span class="app-step-nav__context">£62 to £75</span></a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="6.2" class="app-step-nav__link js-link" href="#">What to take to your test </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="6.3" class="app-step-nav__link js-link" href="#">Change your driving test appointment </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="6.4" class="app-step-nav__link js-link" href="#">Check your driving test appointment details </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="6.5" class="app-step-nav__link js-link" href="#">Cancel your driving test </a>
                  </li>
                </ol>
    
              </div>
    
            </li>
            <li class="app-step-nav__step js-step" id="when-you-pass">
              <div class="app-step-nav__header js-toggle-panel" data-position="7">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 7<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Deal with estate
                  </span>
                </h3>
              </div>
    
              <div class="app-step-nav__panel js-panel" id="step-panel-when-you-pass-7">
                <p class="app-step-nav__paragraph">You can start driving as soon as you pass your driving test.</p>
    
                <p class="app-step-nav__paragraph">You must have an insurance policy that allows you to drive without supervision.</p>
    
                <ol class="app-step-nav__list " data-length="1">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="7.1" class="app-step-nav__link js-link" href="#">Find out about Pass Plus training courses </a>
                  </li>
                </ol>
    
              </div>
    
            </li>
          </ol>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
