{% extends "layouts/main.html" %}

{% block pageTitle %}
  Are you on benefits – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/benefits-answer-v1" method="post">

        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
          Are you getting, or waiting to hear about, any of these benefits?
        </h1>

          {{ govukCheckboxes({
            name: "benefits",
            values: data["benefits"],
            fieldset: {
              legend: {
                text: "",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "universal-credit",
                text: "Universal Credit"
              },
              {
                value: "income-support",
                text: "Income Support"
              },
              {
                value: "income-based-jsa",
                text: "Income-based Jobseeker's Allowance"
              },
              {
                value: "income-related-esa",
                text: "Income-related Employment and Support Allowance"
              },
              {
                value: "pension-credit",
                text: "Pension Credit"
              },
              {
                value: "housing-benefit",
                text: "Housing Benefit"
              },
              {
                value: "support-mortgage-interest",
                text: "Support for Mortgage Interest"
              },
              {
                divider: "or"
              },
              {
                value: "no",
                text: "No",
                behaviour: "exclusive"
              }
            ]
          }) }}
          
          {{ govukButton({
            text: "Continue"
          }) }}
          
          </form>

    </div>
  </div>

{% endblock %}
