{% extends "layouts/main.html" %}

{% block pageTitle %}
  Date of funeral – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v1/eligibility/funeral-in-uk" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {% set funeralDateHtml %}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="funeral-date">
            <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
              Date of the funeral
            </legend>
            <div id="funeral-date-hint" class="govuk-hint">
              For example, 27 3 2024
            </div>
            <div class="govuk-date-input" id="dob-claimant">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="funeral-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="funeral-day" name="funeral-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="funeral-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="funeral-month" name="funeral-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="funeral-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="funeral-year" name="funeral-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        {% endset -%}

        {{ govukRadios({
          name: "funeral-date-question",
          values: data["funeral-date-question"],
          fieldset: {
            legend: {
              text: "Do you know the date of the funeral?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: funeralDateHtml
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>

    </div>
  </div>

{% endblock %}
