{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v1/eligibility/date-of-funeral" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "funeraltakenplace",
            values: data["funeraltakenplace"],
            fieldset: {
              legend: {
                text: "Has the funeral already taken place?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "This includes direct cremations and burials that did not have a service."
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
