{% extends "layouts/main.html" %}

{% block pageTitle %}
  Is funeral in EEA – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/funeraleea-answer-v1" method="post">

        {% if (data['funeraltakenplace'] == "yes") %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Did the funeral take place in the European Economic Area (EEA) or Switzerland?
              </h1>
            </legend>
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Which countries are in the EEA?
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">Austria, Belgium, Bulgaria, Croatia, Republic of Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Iceland, Liechtenstein, Norway and Sweden.</p>
              </div>
            </details>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="funeraleea" name="funeraleea" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="funeraleea" name="funeraleea" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {% else %}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Is the funeral taking place in the European Economic Area (EEA) or Switzerland?
            </h1>
          </legend>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Which countries are in the EEA?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">Austria, Belgium, Bulgaria, Croatia, Republic of Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Iceland, Liechtenstein, Norway and Sweden.</p>
            </div>
          </details>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="funeraleea" name="funeraleea" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="funeraleea" name="funeraleea" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
