{% extends "layouts/main.html" %}

{% block pageTitle %}
  Is funeral in UK – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/funeralinuk-answer-v1" method="post">

        {% if (data['funeraltakenplace'] == "yes") %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
                Did the funeral take place in the UK?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="funeralinuk" name="funeralinuk" type="radio" value="yes" data="funeralinuk">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="funeralinuk" name="funeralinuk" type="radio" value="no" data="funeralinuk">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
  
        {% else %}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
              Is the funeral taking place in the UK?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="funeralinuk" name="funeralinuk" type="radio" value="yes" data="funeralinuk">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="funeralinuk" name="funeralinuk" type="radio" value="no" data="funeralinuk">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {% endif %}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
