{% extends "layouts/main.html" %}

{% block pageTitle %}
  You need to apply for a Funeral Support Payment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You need to apply for a Funeral Support Payment if you live in Scotland
      </h1>

      <p>
        This is a benefit from Social Security Scotland and helps pay for funeral costs if you live in Scotland.
      </p>
      <h2 class="govuk-heading-m">
        Apply online or by post
      </h2>
      <p class="govuk-body">
        <a href="https://www.mygov.scot/funeral-support-payment" class="govuk-link" rel="noreferrer noopener" target="_blank">www.mygov.scot/funeral-support-payment</a>
      </p>
      <!-- <p>
        www.mygov.scot/funeral-support-payment
      </p> -->
      <h2 class="govuk-heading-m">
        Apply by phone
      </h2>
      <p>
        Telephone: 0800 182 222<br>
        Monday to Friday, 8am to 5pm
      </p>
      <br>


      <p class="govuk-body">
        <a href="/index" class="govuk-link govuk-link--no-visited-state">Clear data and start again</a>
      </p>

    </div>
  </div>

{% endblock %}
