{% extends "layouts/main.html" %}

{% block pageTitle %}
  You cannot get a Funeral Expenses Payment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You must get a qualifying benefit to get a Funeral Expenses Payment
      </h1>
      <p>
        If you’re not getting, or waiting to hear about, a qualifying benefit you cannot make a claim for Funeral Expenses Payment.
      </p>

      <h2 class="govuk-heading-m">
        If you’re eligible for a qualifying benefit
      </h2>
      <p>
        You’ll need to make your claim after you apply for a qualifying benefit and within 6 months of the funeral.
      </p>
      <p>
        You can find out what benefits you may be entitled to by going to GOV.UK and searching for ‘benefits calculator’.
      </p>
      
      <p class="govuk-body">
        <a href="/index" class="govuk-link govuk-link--no-visited-state">Clear data and start again</a>
      </p>

      <br>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If a formal decision is needed
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>To get a formal decision you’ll need to complete a claim form and send it by post. You can get a claim form by going to GOV.UK and searching for ‘funeral costs’.</p>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
