{% extends "layouts/main.html" %}

{% block pageTitle %}
  Is funeral in UK – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/deceaseduk-answer-v1" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
              Did the person who died usually live in the UK?
            </h1>
          </legend>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What we mean by usually live in the UK
              </span>
            </summary>
            <div class="govuk-details__text">
              The person who died had a life set around an address in the UK, even if they lived elsewhere some of the time.
            </div>
          </details>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="deceaseduk" name="deceaseduk" type="radio" value="yes" data="deceaseduk">
              <label class="govuk-label govuk-radios__label" for="deceaseduk">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="deceaseduk" name="deceaseduk" type="radio" value="no" data="deceaseduk">
              <label class="govuk-label govuk-radios__label" for="deceaseduk">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
