{% extends "layouts/main.html" %}

{% block pageTitle %}
  About the person who has died – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v1/details/check-answers-details" method="post">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        About the person who died
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="full-name">
          Full name
        </label>
        <input class="govuk-input" id="full-name" name="fullnamepartner" type="text" spellcheck="false" autocomplete="name">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-partner">
          <legend class="govuk-fieldset__legend">
            Date of birth
          </legend>
          <div class="govuk-date-input" id="dob-partner">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-day-partner">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day-partner" name="dob-day-partner" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-month-partner">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month-partner" name="dob-month-partner" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-year-partner">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year-partner" name="dob-year-partner" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="national-insurance-number">
          National Insurance number
        </label>
        <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="national-insurance-number" name="nationalinsurancenumber-partner" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-fieldset__legend">
            Date of death
          </legend>
          <div class="govuk-date-input" id="dod-partner">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dod-day-partner">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dod-day-partner" name="dod-day-partner" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dod-month-partner">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dod-month-partner" name="dod-month-partner" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dod-year-partner">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dod-year-partner" name="dod-year-partner" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-!-padding-bottom-2"></div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
