{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers eligibility – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/v1/money/start" method="post" novalidate>

        <h1 class="govuk-heading-l">Check your answers about the caller and the person who died</h1>

              <h2 class="govuk-heading-m">About the caller</h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['fullnameclaimant'] | capitalize }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['dob-day-claimant'] }} 
                    {{ data['dob-month-claimant']
                    | replace("11", "November")
                    | replace("12", "December")
                    | replace("01", "January")
                    | replace("02", "February")
                    | replace("03", "March")
                    | replace("04", "April")
                    | replace("05", "May")
                    | replace("06", "June")
                    | replace("07", "July")
                    | replace("08", "August")
                    | replace("09", "September")
                    | replace("10", "October")
                    | replace("1", "January")
                    | replace("2", "February")
                    | replace("3", "March")
                    | replace("4", "April")
                    | replace("5", "May")
                    | replace("6", "June")
                    | replace("7", "July")
                    | replace("8", "August")
                    | replace("9", "September") }}
                    {{ data['dob-year-claimant'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    National Insurance number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['nationalinsurancenumber-claimant'].replaceAll(' ','').toUpperCase() }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
                  </dd>
                </div>
              </dl>

              <h2 class="govuk-heading-m">About the person who died</h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['fullnamepartner'] | capitalize }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['dob-day-partner'] }}
                    {{ data['dob-month-partner']
                    | replace("11", "November")
                    | replace("12", "December")
                    | replace("01", "January")
                    | replace("02", "February")
                    | replace("03", "March")
                    | replace("04", "April")
                    | replace("05", "May")
                    | replace("06", "June")
                    | replace("07", "July")
                    | replace("08", "August")
                    | replace("09", "September")
                    | replace("10", "October")
                    | replace("1", "January")
                    | replace("2", "February")
                    | replace("3", "March")
                    | replace("4", "April")
                    | replace("5", "May")
                    | replace("6", "June")
                    | replace("7", "July")
                    | replace("8", "August")
                    | replace("9", "September") }}
                    {{ data['dob-year-partner'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    National Insurance number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['nationalinsurancenumber-partner'].replaceAll(' ','').toUpperCase() }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of death
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['dod-day-partner'] }}
                    {{ data['dod-month-partner']
                    | replace("11", "November")
                    | replace("12", "December")
                    | replace("01", "January")
                    | replace("02", "February")
                    | replace("03", "March")
                    | replace("04", "April")
                    | replace("05", "May")
                    | replace("06", "June")
                    | replace("07", "July")
                    | replace("08", "August")
                    | replace("09", "September")
                    | replace("10", "October")
                    | replace("1", "January")
                    | replace("2", "February")
                    | replace("3", "March")
                    | replace("4", "April")
                    | replace("5", "May")
                    | replace("6", "June")
                    | replace("7", "July")
                    | replace("8", "August")
                    | replace("9", "September") }}
                    {{ data['dod-year-partner'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
                  </dd>
                </div>
              </dl>


              {{ govukButton({
                text: "Continue"
              }) }}

            </div>





      </form>

    </div>

{% endblock %}
